#This is an example document of what your secrets.env file should look like
VIRGIN_PULSE_EMAIL=mark.sicoli@jci.com
VIRGIN_PULSE_PASSWORD=May_212000

EMAIL_SENDER='VP Automator <example@example.com>'
EMAIL_CHARSET=UTF-8

AWS_REGION_NAME=us-east-1
AWS_ID=FOO
AWS_SECRET=BAR
